<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/login/login.css' />
    <link rel="stylesheet" type="text/css" href="/assets/lbi/bootstrap/dist/css/bootstrap.min.css"> 
  </head>
  <body>
    {{{body}}}
  </body>
</html>
<!-- <script type="text/javascript" src="/assets/lbi/jquery/dist/jquery.minjs"></script>
<script type="text/javascript" src"/assets/lbi/bootstrap/dist/js/bootstrap.min.js"></script>
<script>
    $(function () { $('#myModal').modal('hide')});
    $(function () { $('#myModal').on('hide.bs.modal', function () {
      alert('嘿，我听说您喜欢模态框...');})
   }); -->
</script>
