<h1 class="text-center">管理员登录</h1>
<div class="login_in">
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="firstname" class="col-sm-2 control-label">用户名</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="firstname" placeholder="请输入用户名">
    </div>
  </div>
  <div class="form-group">
    <label for="lastname" class="col-sm-2 control-label">密码</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="lastname" placeholder="请输密码">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox">记住我
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">登录</button>
      <a href="/register" class="btn btn-danger">注册</a>
    </div>
  </div>
</form>
</div>
