<div>
	<img src="../assets/img/bg.jpg" alt="暂无图片" class="img-responsive">
</div>
<!-- 顶部导航 -->
<nav class="navbar navbar-fixed-top navbar-default navbar-inverse visible-lg visible-md visible-sm" role="navigation">
	<div class="container-fluid ">
		<div class="navbar-header header_margin">
			<a href="#" class="navbar-brand">咸鱼阁</a>
		</div>
		<div>
			<ul class="nav navbar-nav ">
				<li><a [routerLink]="['/home']" routerLinkActive="active">首页</a></li>
			    <li><a [routerLink]="['/zhxs']" routerLinkActive="active">朝花夕拾</a></li>
			    <li><a [routerLink]="['/cxrs']" routerLinkActive="active">程序人生</a></li>
			    <li><a [routerLink]="['/miss']" routerLinkActive="active">抚今思昔</a></li>
			    <li><a [routerLink]="['/plugs']" routerLinkActive="active">Plugs</a></li>
			    <li><a [routerLink]="['/about']" routerLinkActive="active">关于我</a></li>
			</ul>
		</div>
	</div>
</nav>
<!---主体内容区域-->
<div class="j_contain visible-lg" >
	<div class="con_2 text-center">{{reslog}}
<!-- 		<ul class="con_2_ul">
    <li *ngFor="let ser of searv" class="xy_info text-left">
       <a href="{{ser.moive.alink}}" title="{{ser.moive.title}}" target="_self">	
       	  {{ser.moive.name}}{{ser.moive.introduce}}
       </a>
    </li>
</ul> -->
	</div>
	<router-outlet></router-outlet> 
	<input type="text" name="myvalue1" (keyup.enter)="search.show(myvalue)" placeholder="请输入您要找的内容" [(ngModel)]="myvalue" class="xy_input"  autocomplete="on">
	<button type="button"  class="btn btn-default xj_button" (click)="search.show(myvalue)">Serach</button>
	<div class="xjyz_button" >
		<input type="text" name="myvalue2" class="xy_input" disabled="disabled"  placeholder="请输入您要找的内容" value="{{myvalue}}" >
		<button type="button" class="btn btn-default xj_button" disabled style="cursor: default;">Serach</button>
	</div>
</div>
<!--影子区域-->
<!--modal-->
<p class="text-success localright" id="visiter"></p>	
<footer class="text-center text-success ">Design by BigJiang 浙ICP备17012690号</footer>