.divspans{margin-left:76px;margin-top:-30px;}
.spans{margin-left:6px;opacity:0;transform: scale(1, 1);color: #aeeac9;}
.pli{height:100%;width:100%;float: left;border-bottom: 1px solid #9fc975; margin-top: 20px;}
.ptext{display: inline;position:relative;margin-left:20px;text-overflow:ellipsis;}
.pimg{display: inline;float:left;margin-right: 10px;}
.font1{color:#ffec02;}
.font2{color: #aeeac9;}